.answer-btn {
    border: none;
    background: #242230;
    border-radius: 6px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    text-align: left;
    padding: 15px;
    font-size: 14px;
    margin-bottom: 5px;
    max-width: 700px;
}

.answer-btn:hover {
    background: #373641;
}

.anwser-btn-correct {
    background: #227740;
}

.anwser-btn-wrong {
    background: #792931;
}

.anwser-btn-correct:hover {
    background: #227740;
}

.anwser-btn-wrong:hover {
    background: #792931;
}