.card-container {
    background: #ebebeb;
    border-radius: 13px;
    padding: 20px;
    max-width: 230px;
    font-size: 14px;
    height: 200px;
    position: relative;
    /* margin: 15px; */
}

.button {
    min-width: 100px;
    background-image: linear-gradient(to right,#C135E9, #E23739);
    padding: 13px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    border-radius: 13px;
    cursor: pointer;
    border: none;
    bottom: 20px;
    position: absolute;
    outline: none;
    transition: 0.25s ease-out;
}

.button:hover{
    transform: translateY(-1px);
}

@media (max-width: 600px) {
    .card-container { max-width: 100%}
}