/* container - based on bootstrap */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }


/* {URL}/home page */
.home-body {
    background: #1F1D2B;
    height: 100vh;
    display: grid;
    place-items: center center;
}

.cards {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   padding: 20px;
   grid-gap: 1rem;
}

@media (max-width: 600px) {
    .cards { grid-template-columns: repeat(1, 1fr); }
}


/* {URL}/topic-test page */
.topic-body {
    background: #1F1D2B;
    min-height: 100vh;
    display: grid;
}

.topic-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    grid-gap: 1rem;
}

@media (max-width: 1200px) {
    .topic-cards { grid-template-columns: repeat(3, 1fr); }
}

@media (max-width: 992px) {
    .topic-cards { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 768px) {
    .topic-cards { grid-template-columns: repeat(1, 1fr); }
}

/* Single Test page */

.single-test-body {
    background: #1F1D2B;
    min-height: 100vh;
}

.single-test-body a {
    color: #ffffff;
}